openapi: 3.1.0
info:
  title: Gestão de Recebedores API
  version: "1.0.0"
  description: API para gerenciar recebedores para divisão de pagamentos. Permite criar, buscar, editar, listar e excluir recebedores.

servers:
  - url: https://api.pagseguro.com
    description: Production environment
  - url: https://sandbox.api.pagseguro.com
    description: Sandbox environment

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Account:
      type: object
      description: Dados da conta do recebedor vinculado ao parceiro.
      properties:
        id:
          type: string
          description: "Identificador da conta do recebedor (ACCOUNT_ID). Obrigatório, não nulo, vazio ou em branco (ex.: ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
          example: ACCO_123e4567-e89b-12d3-a456-426614174000
        alias:
          type: string
          description: Alias para identificação da conta. Obrigatório, não nulo, vazio ou em branco, com no máximo 100 caracteres.
          maxLength: 100
          example: Receiver Account Alias
      required:
        - id
        - alias

    Channel:
      type: object
      description: Dados do canal associado ao recebedor.
      properties:
        type:
          type: string
          description: Tipo de canal. Obrigatório, não nulo, vazio ou em branco. Aceita apenas os valores "DEVICE" ou "PLATFORM_VTEX".
          enum:
            - DEVICE
            - PLATFORM_VTEX
          example: DEVICE
        role:
          type: string
          description: Papel do canal (apenas o valor "SELLER"). Obrigatório com o valor "SELLER" quando type for "PLATFORM_VTEX". Não precisa ser encaminhado ou se for deve obrigatoriamente ter o valor nulo quando type for "DEVICE".
          nullable: true
          enum:
            - SELLER
          example: SELLER
        external_id:
          type: string
          description: ID externo utilizado no canal. Obrigatório com um valor diferente de vazio ou em branco, podendo ter até 100 caracteres quando type for "PLATFORM_VTEX". Não precisa ser encaminhado ou se for deve obrigatoriamente ter o valor nulo quando type for "DEVICE".
          nullable: true
          maxLength: 100
          example: external_id_123
      required:
        - type

    ReceiverRequest:
      type: object
      description: Request body para criar ou editar um recebedor.
      properties:
        account:
          $ref: '#/components/schemas/Account'
        channels:
          type: array
          description: Lista de canais associados ao recebedor. Deve conter no mínimo 1 e no máximo 20 itens.
          items:
            $ref: '#/components/schemas/Channel'
          minItems: 1
          maxItems: 20
      required:
        - account
        - channels

    ReceiverResponse:
      type: object
      description: Resposta da API contendo os dados do recebedor.
      properties:
        id:
          type: string
          description: Identificador da configuração de recebedor criada com o formato “SPCR_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX".
          example: SPCR_123e4567-e89b-12d3-a456-426614174000
        account:
          $ref: '#/components/schemas/Account'
        channels:
          type: array
          description: Lista de canais cadastrados. O campo type estará presente em todos os objetos e os campos role e external_id somente existirão nos objetos com type igual a “PLATFORM_VTEX”
          items:
            $ref: '#/components/schemas/Channel'
        status:
          type: string
          description: Estado do registro.
          enum:
            - ACTIVE
            - INACTIVE
          example: ACTIVE
        created_at:
          type: string
          format: date-time
          description: "Data de criação da configuração de recebedor no formato timestamp com timezone (ex.: 2025-03-21T14:28:00.000-03:00)."
          example: "2025-03-21T14:28:00.000-03:00"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Data da última edição da configuração de recebedor no formato timestamp com timezone, podendo não ser retornado se o registro ainda não teve edição.
          example: "2025-03-22T10:00:00.000-03:00"
        links:
          type: array
          description: Relação de objetos hateoas
          items:
            type: object
            properties:
              rel:
                type: string
                description: Relacionamento do recurso.
                enum:
                  - SELF
                  - SPLIT_CONFIGURATION_RECEIVERS.LIST
                  - SPLIT_CONFIGURATION_RECEIVERS.EDIT
                  - SPLIT_CONFIGURATION_RECEIVERS.DELETE
                example: SELF
              href:
                type: string
                description: Link para o relacionamento.
                example: URL/PATH/ACCOUNT_ID
              media:
                type: string
                description: Formato de retorno dos dados do relacionamento.
                example: application/json
              type:
                type: string
                description: Tipo do relacionamento.
                enum:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                example: GET

    ErrorResponse:
      type: object
      description: Resposta de erro genérica.
      properties:
        error_messages:
          type: array
          description: Lista de erros encontrados na requisição.
          items:
            type: object
            properties:
              error:
                type: string
                description: Código do erro.
                example: method_argument_not_valid
              description:
                type: string
                description: Descrição do erro.
                example: Account alias must have between 1 and 100 characters
              parameter_name:
                type: string
                description: Identificação do parâmetro que gerou o erro.
                example: account.alias

    ReceiverListResponse:
      type: object
      description: Resposta da API para listar recebedores.
      properties:
        receivers:
          type: array
          description: Lista de configurações de recebedores encontradas na busca.
          items:
            $ref: '#/components/schemas/ReceiverResponse'
        pagination:
          type: object
          description: Informações sobre a paginação da resposta da pesquisa realizada.
          properties:
            total:
              type: integer
              description: Número total de configurações de recebedor encontradas.
              example: 100
            offset:
              type: integer
              description: Quantidade de páginas de resposta deslocadas.
              example: 0
            limit:
              type: integer
              description: Quantidade de registros por página.
              example: 10

paths:
  /split-configuration/receivers:
    post:
      summary: Cadastrar Recebedor
      description: Endpoint utilizado para cadastrar um novo recebedor.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiverRequest'
      responses:
        '201':
          description: Recebedor criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Recebedores

    get:
      summary: Listar Recebedores
      description: Endpoint utilizado para listar todos os recebedores vinculados ao parceiro.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
          description: Número máximo de registros retornados na resposta. Deve ser um número inteiro, positivo e maior do que zero.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Quantidade de páginas que devem ser avançadas para retornar os registros. Deve ser um número inteiro, positivo e maior ou igual a zero.
        - in: query
          name: sort
          schema:
            type: string
          description: "Tipo de orientação (crescente ou decrescente) e o campo que deve ser utilizado para ordenar a resposta. Deve iniciar com “-“ para orientação decrescente e após ter o nome do campo utilizado (ex.: -alias)."
        - in: query
          name: alias
          schema:
            type: string
          description: Pesquisa por um dado no campo alias.
        - in: query
          name: channel_type
          schema:
            type: string
            enum:
              - DEVICE
              - PLATFORM_VTEX
          description: Filtra por um tipo de canal, devendo ser "DEVICE" ou "PLATFORM_VTEX".
        - in: query
          name: channel_external_id
          schema:
            type: string
          description: Permite pesquisar por um external id.
      responses:
        '200':
          description: Lista de recebedores retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverListResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Recebedores

  /split-configuration/receivers/{account_id}:
    get:
      summary: Buscar Recebedor
      description: Endpoint utilizado para buscar um recebedor específico.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta do recebedor (ACCOUNT_ID). Obrigatório, não nulo, vazio ou em branco (ex.: ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      responses:
        '200':
          description: Recebedor encontrado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: receiver_not_found
                        description:
                          type: string
                          example: Receiver not found with id ACCOUNT_ID
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Forbidden
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: internal_server_error
                        description:
                          type: string
                          example: An internal error happened
      tags:
        - Recebedores

    put:
      summary: Editar Recebedor
      description: Endpoint utilizado para editar as informações de um recebedor.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta do recebedor (ACCOUNT_ID). Obrigatório, não nulo, vazio ou em branco (ex.: ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: object
                  description: Campo não obrigatório, devendo ser utilizado apenas quando se deseja atualizar o alias.
                  properties:
                    alias:
                      type: string
                      description: Alias para identificação da conta. Obrigatório, não nulo, vazio ou em branco, com no máximo 100 caracteres.
                      maxLength: 100
                      example: Receiver Account Alias
                  required:
                    - alias
                channels:
                  type: array
                  description: Campo não obrigatório, devendo ser utilizado apenas quando se deseja atualizar a lista de canais. Deve ser não nulo ou vazio e conter entre 1 e 20 channels. Deve representar a lista final de canais do recebedor.
                  items:
                    $ref: '#/components/schemas/Channel'
                  minItems: 1
                  maxItems: 20
      responses:
        '200':
          description: Recebedor editado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: receiver_not_found
                        description:
                          type: string
                          example: Receiver not found with id ACCOUNT_ID
      tags:
        - Recebedores

    delete:
      summary: Excluir Recebedor
      description: Endpoint utilizado para excluir um recebedor específico.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta do recebedor (ACCOUNT_ID). Obrigatório, não nulo, vazio ou em branco (ex.: ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      responses:
        '204':
          description: Recebedor excluído com sucesso. No content.
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: receiver_not_found
                        description:
                          type: string
                          example: Receiver not found with id ACCOUNT_ID
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Forbidden
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          example: internal_server_error
                        description:
                          type: string
                          example: An internal error happened
      tags:
        - Recebedores
