openapi: 3.1.0
info:
  title: Gestão de Recebedores API
  version: "1.0.0"
  description: API para gerenciar recebedores para divisão de pagamentos.

servers:
  - url: https://api.pagseguro.com
    description: Production environment
  - url: https://sandbox.api.pagseguro.com
    description: Sandbox environment

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Account:
      type: object
      description: Conta do recebedor vinculado ao parceiro.
      properties:
        id:
          type: string
          description: "Identificador da conta (ACCOUNT_ID no formato ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
          examples: ["ACCO_123e4567-e89b-12d3-a456-426614174000"]
        alias:
          type: string
          description: Identificação da conta (máx. 100 caracteres).
          maxLength: 100
          examples: ["Receiver Account Alias"]
      required:
        - id
        - alias

    Channel:
      type: object
      description: Canal associado ao recebedor.
      properties:
        type:
          type: string
          description: Tipo de canal ("DEVICE" ou "PLATFORM_VTEX").
          enum:
            - DEVICE
            - PLATFORM_VTEX
          examples: ["DEVICE"]
        role:
          type: [string, "null"]
          description: Papel do canal. Obrigatório com valor "SELLER" quando type="PLATFORM_VTEX". Nulo quando type="DEVICE".
          enum:
            - SELLER
          examples: ["SELLER"]
        external_id:
          type: [string, "null"]
          description: ID externo no canal. Obrigatório para type="PLATFORM_VTEX" (máx. 100 caracteres). Nulo quando type="DEVICE".
          maxLength: 100
          examples: ["external_id_123"]
      required:
        - type

    ReceiverRequest:
      type: object
      description: Request para criar/editar recebedor.
      properties:
        account:
          $ref: '#/components/schemas/Account'
        channels:
          type: array
          description: Canais associados (1-20 itens).
          items:
            $ref: '#/components/schemas/Channel'
          minItems: 1
          maxItems: 20
      required:
        - account
        - channels

    ReceiverResponse:
      type: object
      description: Resposta com dados do recebedor.
      properties:
        id:
          type: string
          description: Identificador da configuração (formato SPCR_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX).
          examples: ["SPCR_123e4567-e89b-12d3-a456-426614174000"]
        account:
          $ref: '#/components/schemas/Account'
        channels:
          type: array
          description: Canais cadastrados. Campos role/external_id presentes apenas quando type="PLATFORM_VTEX"
          items:
            $ref: '#/components/schemas/Channel'
        status:
          type: string
          description: Estado do registro.
          enum:
            - ACTIVE
            - INACTIVE
          examples: ["ACTIVE"]
        created_at:
          type: string
          format: date-time
          description: "Data de criação (formato timestamp com timezone)."
          examples: ["2025-03-21T14:28:00.000-03:00"]
        updated_at:
          type: [string, "null"]
          format: date-time
          description: Data da última edição (opcional se não houve edição).
          examples: ["2025-03-22T10:00:00.000-03:00"]
        links:
          type: array
          description: Relação de objetos hateoas
          items:
            type: object
            properties:
              rel:
                type: string
                description: Relacionamento do recurso.
                enum:
                  - SELF
                  - SPLIT_CONFIGURATION_RECEIVERS.LIST
                  - SPLIT_CONFIGURATION_RECEIVERS.EDIT
                  - SPLIT_CONFIGURATION_RECEIVERS.DELETE
                examples: ["SELF"]
              href:
                type: string
                description: Link para o relacionamento.
                examples: ["URL/PATH/ACCOUNT_ID"]
              media:
                type: string
                description: Formato de retorno dos dados.
                examples: ["application/json"]
              type:
                type: string
                description: Tipo do relacionamento.
                enum:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                examples: ["GET"]

    ErrorResponse:
      type: object
      description: Resposta de erro.
      properties:
        error_messages:
          type: array
          description: Lista de erros.
          items:
            type: object
            properties:
              error:
                type: string
                description: Código do erro.
                examples: ["method_argument_not_valid"]
              description:
                type: string
                description: Descrição do erro.
                examples: ["Account alias must have between 1 and 100 characters"]
              parameter_name:
                type: string
                description: Parâmetro que gerou o erro.
                examples: ["account.alias"]

    ReceiverListResponse:
      type: object
      description: Resposta para listar recebedores.
      properties:
        receivers:
          type: array
          description: Lista de configurações encontradas.
          items:
            $ref: '#/components/schemas/ReceiverResponse'
        pagination:
          type: object
          description: Informações de paginação.
          properties:
            total:
              type: integer
              description: Número total de configurações.
              examples: [100]
            offset:
              type: integer
              description: Páginas deslocadas.
              examples: [0]
            limit:
              type: integer
              description: Registros por página.
              examples: [10]

paths:
  /split-configuration/receivers:
    post:
      summary: Cadastrar Recebedor
      description: Cadastra um novo recebedor.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiverRequest'
      responses:
        '201':
          description: Criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Recebedores

    get:
      summary: Listar Recebedores
      description: Lista recebedores vinculados ao parceiro.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
          description: Máximo de registros na resposta (inteiro positivo > 0).
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
          description: Páginas a avançar (inteiro positivo ≥ 0).
        - in: query
          name: sort
          schema:
            type: string
          description: "Ordenação: -campo (decrescente) ou campo (crescente)."
        - in: query
          name: alias
          schema:
            type: string
          description: Filtro por alias.
        - in: query
          name: channel_type
          schema:
            type: string
            enum:
              - DEVICE
              - PLATFORM_VTEX
          description: Filtro por tipo de canal.
        - in: query
          name: channel_external_id
          schema:
            type: string
          description: Filtro por external id.
      responses:
        '200':
          description: Lista retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverListResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Recebedores

  /split-configuration/receivers/{account_id}:
    get:
      summary: Buscar Recebedor
      description: Busca um recebedor específico.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta (ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      responses:
        '200':
          description: Recebedor encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          examples: ["receiver_not_found"]
                        description:
                          type: string
                          examples: ["Receiver not found with id ACCOUNT_ID"]
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples: ["Unauthorized"]
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples: ["Forbidden"]
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          examples: ["internal_server_error"]
                        description:
                          type: string
                          examples: ["An internal error happened"]
      tags:
        - Recebedores

    put:
      summary: Editar Recebedor
      description: Edita as informações de um recebedor.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta (ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: object
                  description: Opcional, apenas para atualizar o alias.
                  properties:
                    alias:
                      type: string
                      description: Novo alias (máx. 100 caracteres).
                      maxLength: 100
                      examples: ["Receiver Account Alias"]
                  required:
                    - alias
                channels:
                  type: array
                  description: Opcional, para atualizar canais (1-20 itens). Representa lista final.
                  items:
                    $ref: '#/components/schemas/Channel'
                  minItems: 1
                  maxItems: 20
      responses:
        '200':
          description: Recebedor editado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiverResponse'
        '400':
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          examples: ["receiver_not_found"]
                        description:
                          type: string
                          examples: ["Receiver not found with id ACCOUNT_ID"]
      tags:
        - Recebedores

    delete:
      summary: Excluir Recebedor
      description: Exclui um recebedor específico.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: "ID da conta (ACCO_XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)."
      responses:
        '204':
          description: Recebedor excluído com sucesso. No content.
        '404':
          description: Recebedor não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          examples: ["receiver_not_found"]
                        description:
                          type: string
                          examples: ["Receiver not found with id ACCOUNT_ID"]
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples: ["Unauthorized"]
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples: ["Forbidden"]
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_messages:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: string
                          examples: ["internal_server_error"]
                        description:
                          type: string
                          examples: ["An internal error happened"]
      tags:
        - Recebedores